<section class="p-4">
    <app-progress-bar [progress]="currentProgress"></app-progress-bar>
    <h1 class="text-center text-2xl mt-2">Project details</h1>
    <article class="flex flex-col items-center mt-2">
        <h2><span class="font-medium">Name:</span> {{ foundProject?.name }}</h2>
        <p><span class="font-medium">Description:</span> {{ foundProject?.description }}</p>
        <div *ngIf="tasksList.length">
            <h3 class="font-medium">Tasks:</h3>
            <ul class="mt-2">
                <li *ngFor="let item of tasksList">
                    <a routerLink="/task/{{ item }}" class="p-2 m-2">
                        {{ item }}

                    </a>
                </li>
            </ul>
        </div>
    </article>
    <app-button routerLink="/projects" btnText="Back Projects" background="{{ theme.background }}"
        text="{{ theme.text }}" />
</section>