<div class="dialogue-container" *ngIf="showDialogue">
  <div class="dialogue-content" role="presentation" tabindex="-1">
    <div
      class="dialogue-paper"
      role="dialog"
      aria-describedby="alert-dialog-description"
      aria-labelledby="alert-dialog-title"
      aria-modal="true"
    >
      <h2 class="p-4">This is some random title</h2>
      <div class="dialogue-text px-4">
        <p>dialogue works!</p>
      </div>
      <div class="dialogue-actions flex justify-between p-4 gap-4">
        <app-button
          btnText="Cancel"
          background="{{ neutralTheme.background }}"
          text="{{ neutralTheme.text }}"
          (click)="setShowDialogue()"
          size="small"
        />
        <app-button
          btnText="Log In"
          background="{{ secondaryTheme.background }}"
          text="{{ secondaryTheme.text }}"
          (click)="setShowDialogue()"
          size="small"
        />
      </div>
    </div>
  </div>
</div>
