<section class="p-2 bg-slate-200 min-h-screen" (click)="handleDropdownClick($event, '')">
  <h1 class="text-center text-2xl mt-2">Projects list</h1>
  <div class="container-xl lg:container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- <a routerLink="/project/{{ project.id }}"
      
      >
    </a> -->
    <article *ngFor="let project of projectsList" class="flex flex-col items-center p-4 bg-slate-100 mt-2 relative">
      <h2 class="flex items-center justify-between w-full text-lg">
        {{ project.name }}
        <button class="p-2 bg-slate-100" data-id="{{project.id}}" (click)="handleDropdownClick($event, project.id)">
          <img src="../../../assets/icons/dots.svg" alt="dots button" class="w-[5px]" />
        </button>
      </h2>
      <app-dropdown *ngIf="project.id === selectedId" (actionSelected)="handleDropdownAction($event)"></app-dropdown>

      <p>{{ project.description }}</p>
    </article>
  </div>
</section>

<app-dialogue />